@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Egy Museums</h1>
    <p class="lead">An Website that help you in what we call easy Tourism .. All you have to do is to scan QR code and enjoy your passion about All fabulous masterpieces we have ...</p>
    <p><a href="~/places/index" class="btn btn-primary btn-lg">Explore &raquo;</a></p>
</div>
